@use "./fonts" as *;

@mixin flex-container($flex-direction, $justfy-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justfy-content;
  align-items: $align-items;
}

@mixin main-btn() {
  @include upper-text(0.875rem);
  font-weight: 400;
  background: none;
  border: 1px solid #2c4058;
  color: #000000;
  width: 190px;
  height: 50px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font-family;
  transition: all 0.2s linear;
  scroll-snap-type: y mandatory;
}

body {
  color: $primary-color;
  animation: fadeInAnimation ease 1500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

// scroll animation
.sec {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  opacity: 0;
  -webkit-transform: translateY(50px) rotate(-5deg) translateZ(0);
  transform: translateY(50px) rotate(-5deg) translateZ(0);
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.inView {
  opacity: 1;
  -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
  transform: translateY(0px) rotate(0deg) translateZ(0);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flex-header {
  @include flex-container(column, center, center);
  background-size: cover;
  height: 950px;
  position: relative;
  margin-top: 0;
  .top-nav {
    @include flex-container(row, space-evenly, center);
    height: 10vh;
    position: absolute;
    top: 0;
    width: 100%;

    .nav-bar {
      @include flex-container(row, space-between, center);
      width: 30vw;
      list-style: circle;
    }
  }

  .main-header {
    @include flex-container(column, center, center);
    gap: 20px;
    width: 100%;

    h1 {
      @include logo(5rem);
    }
    h4 {
      @include upper-text(1.125rem);
      font-weight: 400;
    }
  }

  .bottom-arrow {
    @include main-btn();
    border: none;
    position: absolute;
    bottom: 52px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 1000ms;

    &:hover {
      background-color: rgb(255, 255, 255, 0.2);
      transform: translateY(-20px);
    }
  }

  .socialMedia-nav {
    svg {
      margin: 1rem;
    }
  }
}

.list-active {
  list-style-type: disc;
}

//side navbar
.navbar {
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  z-index: 10;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      width: 10px;
      position: relative;
      text-align: right;

      span {
        display: inline-block;
        background: $dark-color;
        color: $primary-color;
        letter-spacing: 1px;
        padding: 10px 25px;
        margin-right: 30px;
        border-radius: 3px;
        transform: translateX(100px);
        opacity: 0;
      }
    }
  }
}

.navbar ul li .dot::before,
.navbar ul li .dot::after {
  content: "";
  position: absolute;
  top: 50%;
  border-radius: 50%;
  display: block;
  transition: 0.2s ease-out;
}

.navbar ul li .dot::before {
  height: 5px;
  width: 5px;
  border: 2px solid #333;
  right: 0;
  transform: translateY(-50%);
}

.navbar ul li .dot.active::before,
.navbar ul li:hover .dot::before {
  border-color: #333;
  background: #333;
}

.navbar ul li .dot::after {
  height: 15px;
  width: 15px;
  border: 2px solid #333;
  right: -5px;
  transform: translateY(-50%) scale(0);
}

.navbar ul li .dot.active::after,
.navbar ul li:hover .dot::after {
  transform: translateY(-50%) scale(1);
}

// style for background header
.bg-gradient {
  background: linear-gradient(
      243.43deg,
      rgba(126, 90, 255, 0.9) 16.9%,
      rgba(85, 183, 255, 0.9) 83.27%
    ),
    url(../assets/images/bg-header.jpeg) no-repeat top center/cover;
}

// second page
#whatWeDo {
  margin-top: 100px;
  .header-what-we-do {
    @include flex-container(column, center, center);
    margin-bottom: 140px;
    h2 {
      @include upper-text(2.75rem);
      margin-top: 24px;
      color: $dark-color;
    }
  }

  .projects {
    @include flex-container(column, center, center);
    gap: 140px;
    margin-bottom: 140px;
    .project-1,
    .project-2 {
      @include flex-container(row, start, center);
      gap: 70px;
      font-family: $main-font-family;
      .rightArticle,
      .leftArticle {
        color: $dark-color;
        width: 30vw;

        h3 {
          @include upper-text(1.375rem);
          font-weight: 400;
        }

        h2 {
          @include upper-text(2.75rem);
        }

        p {
          margin-top: 20px;
          font-size: 1.125rem;
        }
        button {
          @include main-btn();
          margin: 42px 0px;
          &:hover {
            transition: 1000ms;
            background-color: #7e5bff;
            color: $primary-color;
          }
        }

        address {
          a {
            text-decoration: none;
            color: $dark-color;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

// third page

// style for background news section
.bg-gradient-news {
  background: linear-gradient(
      243.43deg,
      rgba(36, 204, 250, 0.9) 16.9%,
      rgba(60, 127, 212, 0.9) 83.27%
    ),
    url(../assets/images/bg-news.png) no-repeat top center/cover;
}

#latestNews {
  height: 1035px;
  padding-top: 60px;
  position: relative;
  .svg-bg {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
    img {
      width: 100%;
    }
  }

  .header-latest-news {
    @include flex-container(column, center, center);
    margin-bottom: 140px;

    h2 {
      @include upper-text(2.75rem);
      // margin-top: 24px;
      color: $primary-color;
    }
  }
  .slide-news {
    @include flex-container(row, center, center);
    margin: 0px 105px;
    gap: 1rem;

    .card {
      margin-left: 2rem;
      width: 370px;
      height: 514px;
      background-color: $primary-color;
      color: $dark-color;
      .img-container {
        width: 100%;
        height: 240px;
        img {
          width: 100%;
        }
      }
      .info-news {
        margin: 20px;
        p {
          margin: 20px 0px;
        }
        .author {
          @include flex-container(row, start, center);
          gap: 20px;
          img {
            border-radius: 50%;
          }
          .author-name {
            @include flex-container(column, start, start);
            gap: 6px;
            h4 {
              @include upper-text(1.125rem);
              font-weight: 400;
            }
            span {
              color: rgba(85, 183, 255, 1);
              font-size: 0.875rem;
            }
          }
        }
      }
    }
  }
  .slick-prev {
    translate: -50px;

    &:before {
      font-size: 4rem;
      color: transparent;
      background: url(../assets/svg/Left.svg) no-repeat;
    }
  }
  .slick-next {
    padding-right: 80px;

    &:before {
      color: transparent;
      font-size: 4rem;
      background: url(../assets/svg/Right.svg) no-repeat;
    }
  }

  .slick-dots li button:before {
    margin-top: 50px;
    font-size: 10px;
  }

  .slick-active button:before {
    color: white;
    opacity: 1;
  }
}

#gallery {
  @include flex-container(column, center, center);
  padding-top: 120px;
  .header-gallery {
    @include flex-container(column, center, center);
    margin-bottom: 100px;
    h2 {
      @include upper-text(2.75rem);
      margin-top: 24px;
      color: $dark-color;
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 214px);
    gap: 4px;
    width: 1170px;

    .card-1 {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
      background: url("../assets/images/galery-1.png") no-repeat center
        center/cover;
    }

    .card-2 {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      background: url("../assets/images/galery-2.png") no-repeat center
        center/cover;
    }
    .card-3 {
      grid-column: 4 / 5;
      grid-row: 1 / 2;
      background: url("../assets/images/galery-3.png") no-repeat center
        center/cover;
    }
    .card-4 {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      background: url("../assets/images/galery-4.png") no-repeat center
        center/cover;
    }
    .card-5 {
      grid-column: 4 / 5;
      grid-row: 2 / 3;
      background: url("../assets/images/galery-5.png") no-repeat center
        center/cover;
    }
  }
  button {
    margin: 50px 0px;
    @include main-btn();
    transition: 1000ms;

    &:hover {
      background-color: #7e5bff;
      color: $primary-color;
    }
  }
}

.bg-gradient-footer {
  background: linear-gradient(
      251.06deg,
      rgba(126, 90, 255, 0.9),
      rgba(85, 183, 255, 0.9)
    ),
    url("../assets/svg/bg-footer.svg") no-repeat bottom center/cover;
}

#contact {
  @include flex-container(column, center, center);
  position: relative;

  #map {
    width: 100%;
    height: 700px;
    // filter: grayscale(100%);
  }

  .contact-form {
    @include flex-container(column, center, center);
    background: url("../assets/svg/bg-contact-form.svg") no-repeat bottom center;
    background-color: $primary-color;
    width: 770px;
    height: 450px;
    box-shadow: 0px -4px 30px 0px #85858533;
    margin-top: -380px;
    z-index: 99;
    .header-contact {
      margin: 50px;
      @include flex-container(column, center, center);

      .arrow {
        margin-top: 50px;
      }

      h2 {
        @include upper-text(2.75rem);
        margin-top: 24px;
        color: $dark-color;
      }
    }

    .contact-container {
      @include flex-container(row, center, center);
      margin-bottom: 100px;
      gap: 50px;

      .form-left {
        @include flex-container(column, center, start);
        gap: 2rem;
        i {
          margin-right: 1rem;
        }
        a {
          text-decoration: none;
          color: $dark-color;
        }
      }

      .form-box {
        @include flex-container(column, center, start);
        input {
          width: 310px;
          border: none;
          outline: none;
          border-bottom: 1px solid #4b5562;
          height: 4rem;
          padding: 1rem 1rem 0.5rem 0.5rem;
          font-size: 1.125rem;
          :hover {
            border-bottom: 1px solid #000000;
          }
        }

        input[text] {
          font-family: $main-font-family;
          color: #4b5562;

          &:hover {
            color: #000000;
          }
        }
        .submit {
          @include main-btn();
          align-self: flex-end;
          margin-top: 30px;
          transition: 1000ms;
          &:hover {
            background-color: #7e5bff;
            color: $primary-color;
          }
        }
      }
    }

    .error-message {
      color: red;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  .purple-svg {
    color: #7e5bff;
  }

  .contact-style {
    @include upper-text(1.125rem);
    text-transform: none;
    color: $dark-color;
    font-style: normal;
  }
}

#footer {
  @include flex-container(row, center, space-between);
  position: relative;
  gap: 369px;
  height: 549px;
  z-index: -1;
  margin-top: -170px;
  .credit {
    align-self: center;
    p {
      margin-top: 42px;
    }
  }
  .socialMedia {
    align-self: center;
    svg {
      margin: 1rem;
    }
  }
}
