@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  color: #ffffff;
  animation: fadeInAnimation ease 1500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flex-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 800px;
  position: relative;
}
.flex-header .top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  position: absolute;
  top: 0;
  width: 100%;
}
.flex-header .top-nav .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  list-style: circle;
}
.flex-header .main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.flex-header .main-header h1 {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
}
.flex-header .main-header h4 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 1.125rem;
  font-weight: 400;
}
.flex-header .side-elips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: fixed;
  right: 52px;
}
.flex-header .bottom-arrow {
  position: absolute;
  bottom: 52px;
}
.flex-header .socialMedia-nav svg {
  margin: 1rem;
}

.list-active {
  list-style-type: disc;
}

.bg-gradient {
  background: linear-gradient(243.43deg, rgba(126, 90, 255, 0.9) 16.9%, rgba(85, 183, 255, 0.9) 83.27%), url(../assets/images/bg-header.jpeg) no-repeat top center/cover;
}

#whatWeDo {
  margin-top: 100px;
}
#whatWeDo .header-what-we-do {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
}
#whatWeDo .header-what-we-do h2 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 2.75rem;
  margin-top: 24px;
  color: #2c4058;
}
#whatWeDo .projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 140px;
  margin-bottom: 140px;
}
#whatWeDo .projects .project-1,
#whatWeDo .projects .project-2 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 70px;
  font-family: "Montserrat";
}
#whatWeDo .projects .project-1 .rightArticle,
#whatWeDo .projects .project-1 .leftArticle,
#whatWeDo .projects .project-2 .rightArticle,
#whatWeDo .projects .project-2 .leftArticle {
  color: #2c4058;
  width: 30vw;
}
#whatWeDo .projects .project-1 .rightArticle h3,
#whatWeDo .projects .project-1 .leftArticle h3,
#whatWeDo .projects .project-2 .rightArticle h3,
#whatWeDo .projects .project-2 .leftArticle h3 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 1.375rem;
  font-weight: 400;
}
#whatWeDo .projects .project-1 .rightArticle h2,
#whatWeDo .projects .project-1 .leftArticle h2,
#whatWeDo .projects .project-2 .rightArticle h2,
#whatWeDo .projects .project-2 .leftArticle h2 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 2.75rem;
}
#whatWeDo .projects .project-1 .rightArticle p,
#whatWeDo .projects .project-1 .leftArticle p,
#whatWeDo .projects .project-2 .rightArticle p,
#whatWeDo .projects .project-2 .leftArticle p {
  margin-top: 20px;
  font-size: 1.125rem;
}
#whatWeDo .projects .project-1 .rightArticle button,
#whatWeDo .projects .project-1 .leftArticle button,
#whatWeDo .projects .project-2 .rightArticle button,
#whatWeDo .projects .project-2 .leftArticle button {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 0.875rem;
  font-weight: 400;
  background: none;
  border: 1px solid #2c4058;
  color: #000000;
  width: 190px;
  height: 50px;
  margin: 42px 0px;
}
#whatWeDo .projects .project-1 .rightArticle address a,
#whatWeDo .projects .project-1 .leftArticle address a,
#whatWeDo .projects .project-2 .rightArticle address a,
#whatWeDo .projects .project-2 .leftArticle address a {
  text-decoration: none;
  color: #2c4058;
}
#whatWeDo .projects .project-1 .rightArticle address a:hover,
#whatWeDo .projects .project-1 .leftArticle address a:hover,
#whatWeDo .projects .project-2 .rightArticle address a:hover,
#whatWeDo .projects .project-2 .leftArticle address a:hover {
  text-decoration: underline;
}

.bg-gradient-news {
  background: linear-gradient(243.43deg, rgba(36, 204, 250, 0.9) 16.9%, rgba(60, 127, 212, 0.9) 83.27%), url(../assets/images/bg-news.png) no-repeat top center/cover;
}

#latestNews {
  height: 1035px;
  padding-top: 100px;
}
#latestNews .header-latest-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
}
#latestNews .header-latest-news h2 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 2.75rem;
  margin-top: 24px;
  color: #2c4058;
}/*# sourceMappingURL=style.css.map */