@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  transition: all 0.2s linear;
  scroll-snap-type: y mandatory;
}

body {
  color: #ffffff;
  animation: fadeInAnimation ease 1500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

.sec {
  scroll-snap-align: start;
  opacity: 0;
  transform: translateY(50px) rotate(-5deg) translateZ(0);
  transition-delay: 0.3s;
  transition: 0.5s;
}

.inView {
  opacity: 1;
  transform: translateY(0px) rotate(0deg) translateZ(0);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flex-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 950px;
  min-height: -webkit-fill-available;
  position: relative;
  margin-top: 0;
}
.flex-header .top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  position: absolute;
  top: 0;
  width: 100%;
}
.flex-header .top-nav .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  list-style: circle;
}
.flex-header .main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.flex-header .main-header h1 {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
}
.flex-header .main-header h4 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 1.125rem;
  font-weight: 400;
}
.flex-header .bottom-arrow {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 0.875rem;
  font-weight: 400;
  background: none;
  border: 1px solid #2c4058;
  color: #000000;
  width: 190px;
  height: 50px;
  cursor: pointer;
  border: none;
  position: absolute;
  bottom: 52px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 1000ms;
}
.flex-header .bottom-arrow:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-20px);
}
.flex-header .socialMedia-nav a {
  text-decoration: none;
}
.flex-header .socialMedia-nav svg {
  margin: 1rem;
}

.list-active {
  list-style-type: disc;
}

.navbar {
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  z-index: 10;
}
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  transition: 1s;
}
.navbar ul li {
  width: 10px;
  position: relative;
  text-align: right;
}
.navbar ul li span {
  display: inline-block;
  background: #2c4058;
  color: #ffffff;
  letter-spacing: 1px;
  padding: 10px 25px;
  margin-right: 30px;
  border-radius: 3px;
  transform: translateX(100px);
  opacity: 0;
}

.navbar ul li .dot::before,
.navbar ul li .dot::after {
  content: "";
  position: absolute;
  top: 50%;
  border-radius: 50%;
  display: block;
  transition: 0.2s ease-out;
}

.navbar ul li .dot::before {
  height: 5px;
  width: 5px;
  border: 2px solid #333;
  right: 0;
  transform: translateY(-50%);
}

.navbar ul li .dot.active::before,
.navbar ul li:hover .dot::before {
  border-color: #333;
  background: #333;
}

.navbar ul li .dot::after {
  height: 15px;
  width: 15px;
  border: 2px solid #333;
  right: -5px;
  transform: translateY(-50%) scale(0);
}

.navbar ul li .dot.active::after,
.navbar ul li:hover .dot::after {
  transform: translateY(-50%) scale(1);
}

.bg-gradient {
  background: linear-gradient(243.43deg, rgba(126, 90, 255, 0.9) 16.9%, rgba(85, 183, 255, 0.9) 83.27%), url(../assets/images/bg-header.jpeg) no-repeat top center/cover;
}

#whatWeDo {
  min-height: -webkit-fill-available;
}
#whatWeDo .header-what-we-do {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 140px;
}
#whatWeDo .header-what-we-do .header-gallery {
  margin-top: 40px;
}
#whatWeDo .header-what-we-do h2 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 2.75rem;
  margin-top: 24px;
  color: #2c4058;
}
#whatWeDo .projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 140px;
  margin-bottom: 140px;
}
#whatWeDo .projects .project-1,
#whatWeDo .projects .project-2 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 70px;
  font-family: "Montserrat";
}
#whatWeDo .projects .project-1 .rightArticle,
#whatWeDo .projects .project-1 .leftArticle,
#whatWeDo .projects .project-2 .rightArticle,
#whatWeDo .projects .project-2 .leftArticle {
  color: #2c4058;
  width: 30vw;
}
#whatWeDo .projects .project-1 .rightArticle h3,
#whatWeDo .projects .project-1 .leftArticle h3,
#whatWeDo .projects .project-2 .rightArticle h3,
#whatWeDo .projects .project-2 .leftArticle h3 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 1.375rem;
  font-weight: 400;
}
#whatWeDo .projects .project-1 .rightArticle h2,
#whatWeDo .projects .project-1 .leftArticle h2,
#whatWeDo .projects .project-2 .rightArticle h2,
#whatWeDo .projects .project-2 .leftArticle h2 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 2.75rem;
}
#whatWeDo .projects .project-1 .rightArticle p,
#whatWeDo .projects .project-1 .leftArticle p,
#whatWeDo .projects .project-2 .rightArticle p,
#whatWeDo .projects .project-2 .leftArticle p {
  margin-top: 20px;
  font-size: 1.125rem;
}
#whatWeDo .projects .project-1 .rightArticle button,
#whatWeDo .projects .project-1 .leftArticle button,
#whatWeDo .projects .project-2 .rightArticle button,
#whatWeDo .projects .project-2 .leftArticle button {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 0.875rem;
  font-weight: 400;
  background: none;
  border: 1px solid #2c4058;
  color: #000000;
  width: 190px;
  height: 50px;
  cursor: pointer;
  margin: 42px 0px;
}
#whatWeDo .projects .project-1 .rightArticle button:hover,
#whatWeDo .projects .project-1 .leftArticle button:hover,
#whatWeDo .projects .project-2 .rightArticle button:hover,
#whatWeDo .projects .project-2 .leftArticle button:hover {
  transition: 1000ms;
  background-color: #7e5bff;
  color: #ffffff;
}
#whatWeDo .projects .project-1 .rightArticle address a,
#whatWeDo .projects .project-1 .leftArticle address a,
#whatWeDo .projects .project-2 .rightArticle address a,
#whatWeDo .projects .project-2 .leftArticle address a {
  text-decoration: none;
  color: #2c4058;
}
#whatWeDo .projects .project-1 .rightArticle address a:hover,
#whatWeDo .projects .project-1 .leftArticle address a:hover,
#whatWeDo .projects .project-2 .rightArticle address a:hover,
#whatWeDo .projects .project-2 .leftArticle address a:hover {
  text-decoration: underline;
}

.bg-gradient-news {
  background: linear-gradient(243.43deg, rgba(36, 204, 250, 0.9) 16.9%, rgba(60, 127, 212, 0.9) 83.27%), url(../assets/images/bg-news.png) no-repeat top center/cover;
}

#latestNews {
  height: 1035px;
  position: relative;
}
#latestNews .svg-bg {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
}
#latestNews .svg-bg img {
  width: 100%;
}
#latestNews .header-latest-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
}
#latestNews .header-latest-news .svg-line {
  margin: 40px;
}
#latestNews .header-latest-news h2 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 2.75rem;
  color: #ffffff;
}
#latestNews .slide-news {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 105px;
  gap: 1rem;
}
#latestNews .slide-news .card {
  margin-left: 2rem;
  width: 370px;
  height: 514px;
  background-color: #ffffff;
  color: #2c4058;
}
#latestNews .slide-news .card .img-container {
  width: 100%;
  height: 240px;
}
#latestNews .slide-news .card .img-container img {
  width: 100%;
}
#latestNews .slide-news .card .info-news {
  margin: 20px;
}
#latestNews .slide-news .card .info-news p {
  margin: 20px 0px;
}
#latestNews .slide-news .card .info-news .author {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
#latestNews .slide-news .card .info-news .author img {
  border-radius: 50%;
}
#latestNews .slide-news .card .info-news .author .author-name {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 6px;
}
#latestNews .slide-news .card .info-news .author .author-name h4 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 1.125rem;
  font-weight: 400;
}
#latestNews .slide-news .card .info-news .author .author-name span {
  color: rgb(85, 183, 255);
  font-size: 0.875rem;
}
#latestNews .slick-prev {
  translate: -50px;
}
#latestNews .slick-prev:hover {
  transform: translateY(-20px);
}
#latestNews .slick-prev:before {
  font-size: 4rem;
  color: transparent;
  background: url(../assets/svg/Left.svg) no-repeat;
}
#latestNews .slick-next {
  padding-right: 80px;
}
#latestNews .slick-next:hover {
  transform: translateY(-20px);
}
#latestNews .slick-next:before {
  color: transparent;
  font-size: 4rem;
  background: url(../assets/svg/Right.svg) no-repeat;
}
#latestNews .slick-dots li button:before {
  margin-top: 50px;
  font-size: 10px;
}
#latestNews .slick-active button:before {
  color: white;
  opacity: 1;
}

#gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  min-height: -webkit-fill-available;
  height: 1000px;
}
#gallery .header-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
#gallery .header-gallery h2 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 2.75rem;
  margin-top: 24px;
  color: #2c4058;
}
#gallery .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 214px);
  gap: 4px;
  width: 1170px;
}
#gallery .grid-container .card-1 {
  grid-column: 1/3;
  grid-row: 1/3;
  background: url("../assets/images/galery-1.png") no-repeat center center/cover;
}
#gallery .grid-container .card-2 {
  grid-column: 3/4;
  grid-row: 1/2;
  background: url("../assets/images/galery-2.png") no-repeat center center/cover;
}
#gallery .grid-container .card-3 {
  grid-column: 4/5;
  grid-row: 1/2;
  background: url("../assets/images/galery-3.png") no-repeat center center/cover;
}
#gallery .grid-container .card-4 {
  grid-column: 3/4;
  grid-row: 2/3;
  background: url("../assets/images/galery-4.png") no-repeat center center/cover;
}
#gallery .grid-container .card-5 {
  grid-column: 4/5;
  grid-row: 2/3;
  background: url("../assets/images/galery-5.png") no-repeat center center/cover;
}
#gallery button {
  margin: 50px 0px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 0.875rem;
  font-weight: 400;
  background: none;
  border: 1px solid #2c4058;
  color: #000000;
  width: 190px;
  height: 50px;
  cursor: pointer;
  transition: 1000ms;
}
#gallery button:hover {
  background-color: #7e5bff;
  color: #ffffff;
}

.bg-gradient-footer {
  background: linear-gradient(251.06deg, rgba(126, 90, 255, 0.9), rgba(85, 183, 255, 0.9)), url("../assets/svg/bg-footer.svg") no-repeat bottom center/cover;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#contact #map {
  width: 100%;
  height: 700px;
}
#contact .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../assets/svg/bg-contact-form.svg") no-repeat bottom center;
  background-color: #ffffff;
  width: 770px;
  height: 450px;
  box-shadow: 0px -4px 30px 0px rgba(133, 133, 133, 0.2);
  margin-top: -380px;
  z-index: 99;
}
#contact .contact-form .header-contact {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact .contact-form .header-contact .arrow {
  margin-top: 50px;
}
#contact .contact-form .header-contact h2 {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 2.75rem;
  margin-top: 24px;
  color: #2c4058;
}
#contact .contact-form .contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  gap: 50px;
}
#contact .contact-form .contact-container .form-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}
#contact .contact-form .contact-container .form-left i {
  margin-right: 1rem;
}
#contact .contact-form .contact-container .form-left a {
  text-decoration: none;
  color: #2c4058;
}
#contact .contact-form .contact-container .form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
#contact .contact-form .contact-container .form-box input {
  width: 310px;
  border: none;
  outline: none;
  border-bottom: 1px solid #4b5562;
  height: 4rem;
  padding: 1rem 1rem 0.5rem 0.5rem;
  font-size: 1.125rem;
}
#contact .contact-form .contact-container .form-box input :hover {
  border-bottom: 1px solid #000000;
}
#contact .contact-form .contact-container .form-box input[text] {
  font-family: "Montserrat";
  color: #4b5562;
}
#contact .contact-form .contact-container .form-box input[text]:hover {
  color: #000000;
}
#contact .contact-form .contact-container .form-box .submit {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 0.875rem;
  font-weight: 400;
  background: none;
  border: 1px solid #2c4058;
  color: #000000;
  width: 190px;
  height: 50px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 30px;
  transition: 1000ms;
}
#contact .contact-form .contact-container .form-box .submit:hover {
  background-color: #7e5bff;
  color: #ffffff;
}
#contact .contact-form .error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
#contact .purple-svg {
  color: #7e5bff;
}
#contact .contact-style {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 1.125rem;
  text-transform: none;
  color: #2c4058;
  font-style: normal;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  position: relative;
  gap: 369px;
  height: 549px;
  z-index: -1;
  margin-top: -170px;
}
#footer .credit {
  align-self: center;
}
#footer .credit p {
  margin-top: 42px;
}
#footer .socialMedia {
  align-self: center;
}
#footer .socialMedia a {
  text-decoration: none;
}
#footer .socialMedia svg {
  margin: 1rem;
}/*# sourceMappingURL=style.css.map */